Localization
{
	ru
	{
		// Part titles
		#LOC_ChemicalPropulsion_tank_ignitor_1_title = HIT-02 Резервуар для жидкости зажигателя
		#LOC_ChemicalPropulsion_tank_ignitor_2_title = HIT-06 Блок резервуар для жидкости зажигателя
		#LOC_ChemicalPropulsion_tank_ignitor_3_title = HIT-12 Сферический резервуар для жидкости зажигателя

		// Part descriptions
		#LOC_ChemicalPropulsion_tank_ignitor_1_desc = Небольшой радиально закрепленный бак, предназначенный для безопасного хранения небольшого количества различных гипергольных зажигательных жидкостей.
		#LOC_ChemicalPropulsion_tank_ignitor_2_desc = Комплект из трёх радиально закрепленных баков для гипергольной зажигательной жидкости.
		#LOC_ChemicalPropulsion_tank_ignitor_3_desc = Этот небольшой сферический бак вмещает достаточное количество гипергольной зажигательной жидкости, чтобы несколько раз запустить даже самый большой и «упрямый» двигатель.

		// Propellant names and descriptions used for switches in tanks, engines and RCS
		#LOC_ChemicalPropulsion_propellant_title = Топливо
		#LOC_ChemicalPropulsion_propellants_title = Топлива
		#LOC_ChemicalPropulsion_fuel_title = Горючее
		#LOC_ChemicalPropulsion_fuels_title = Горючие
		#LOC_ChemicalPropulsion_oxidizer_title = Окислитель
		#LOC_ChemicalPropulsion_oxidizers_title = Окислители
		#LOC_ChemicalPropulsion_solid_title = Твердое топливо
		#LOC_ChemicalPropulsion_solids_title = Твердые топлива
		#LOC_ChemicalPropulsion_ignitor_title = Воспламенитель
		#LOC_ChemicalPropulsion_ignitors_title = Воспламенители
		#LOC_ChemicalPropulsion_none_title = Отсутствует
		// Bipropellant
		#LOC_ChemicalPropulsion_propellant_Ethanol_LqdOxygen_title = Этанол / Кислород
		#LOC_ChemicalPropulsion_propellant_Kerosene_LqdOxygen_title = Керосин / Кислород
		#LOC_ChemicalPropulsion_propellant_LqdHydrogen_LqdOxygen_title = Водород / Кислород
		#LOC_ChemicalPropulsion_propellant_LqdMethane_LqdOxygen_title = Метан / Кислород
		#LOC_ChemicalPropulsion_propellant_LqdAmmonia_LqdOxygen_title = Аммиак / Кислород
		#LOC_ChemicalPropulsion_propellant_Hydrazine_NTO_title = Гидразин / Тетраоксид диазота
		// Tripropellant
		#LOC_ChemicalPropulsion_propellant_Kerosene_LqdHydrogen_LqdOxygen_title = Керосин / Водород / Кислород
		#LOC_ChemicalPropulsion_propellant_Kerosene_LqdHydrogen_LqdOxygen_description = Если не можете выбрать между керосином и жидким водородом, почему не оба? Наслаждайтесь высоким удельным импульсом и ещё более высокой инженерной сложностью. Соотношение 1:4:3, с баками разбирайтесь сами.
		// Ignitors
		#LOC_ChemicalPropulsion_ignitor_pyrotechnic_title = Пиротехнический
		#LOC_ChemicalPropulsion_ignitor_pyrotechnic_description = Одноразовое пиротехническое устройство, которое зажигает двигатель только один раз, независимо от используемого топлива
		// Short descriptions
		#LOC_ChemicalPropulsion_propellant_storable_propellant_description = Хранимое топливо
		#LOC_ChemicalPropulsion_propellant_storable_hypergolic_fuel_description = Хранимое гиперголическое топливо
		#LOC_ChemicalPropulsion_propellant_storable_hypergolic_oxidizer_description = Хранимый гиперголический окислитель
		#LOC_ChemicalPropulsion_propellant_storable_non-hypergolic_fuel_description = Хранимое негиперголическое топливо
		#LOC_ChemicalPropulsion_propellant_storable_non-hypergolic_oxidizer_description = Хранимый негиперголический окислитель
		#LOC_ChemicalPropulsion_propellant_cryogenic_propellant_description = Криогенное топливо
		#LOC_ChemicalPropulsion_propellant_cryogenic_hypergolic_fuel_description = Криогенное гиперголическое топливо
		#LOC_ChemicalPropulsion_propellant_cryogenic_hypergolic_oxidizer_description = Криогенный гиперголический окислитель
		#LOC_ChemicalPropulsion_propellant_cryogenic_non-hypergolic_fuel_description = Криогенное негиперголическое топливо
		#LOC_ChemicalPropulsion_propellant_cryogenic_non-hypergolic_oxidizer_description = Криогенный негиперголический окислитель

		// Converters
		#LOC_ChemicalPropulsion_ISRU_Kerosene_ConverterName = Керосин
		#LOC_ChemicalPropulsion_ISRU_Kerosene_StartActionName = Запустить ИСПД [Керосин]
		#LOC_ChemicalPropulsion_ISRU_Kerosene_StopActionName = Остановить ИСПД [Керосин]
		#LOC_ChemicalPropulsion_ISRU_HTP_ConverterName = H2O2
		#LOC_ChemicalPropulsion_ISRU_HTP_StartActionName = Запустить ИСПД [H2O2]
		#LOC_ChemicalPropulsion_ISRU_HTP_StopActionName = Остановить ИСПД [H2O2]
		#LOC_ChemicalPropulsion_ISRU_Kerosene_HTP_ConverterName = Керосин+H2O2
		#LOC_ChemicalPropulsion_ISRU_Kerosene_HTP_StartActionName = Запустить ИСПД [Керосин+H2O2]
		#LOC_ChemicalPropulsion_ISRU_Kerosene_HTP_StopActionName = Остановить ИСПД [Керосин+H2O2]
		#LOC_ChemicalPropulsion_ISRU_LqdOxygen_ConverterName = ЖК
		#LOC_ChemicalPropulsion_ISRU_LqdOxygen_StartActionName = Запустить ИСПД [ЖК]
		#LOC_ChemicalPropulsion_ISRU_LqdOxygen_StopActionName = Остановить ИСПД [ЖК]
		#LOC_ChemicalPropulsion_ISRU_Kerosene_LqdOxygen_ConverterName = Керосин+ЖК
		#LOC_ChemicalPropulsion_ISRU_Kerosene_LqdOxygen_StartActionName = Запустить ИСПД [Керосин+ЖК]
		#LOC_ChemicalPropulsion_ISRU_Kerosene_LqdOxygen_StopActionName = Остановить ИСПД [Керосин+ЖК]
		#LOC_ChemicalPropulsion_ISRU_LqdMethane_ConverterName = ЖМе
		#LOC_ChemicalPropulsion_ISRU_LqdMethane_StartActionName = Запустить ИСПД [ЖМ]
		#LOC_ChemicalPropulsion_ISRU_LqdMethane_StopActionName = Остановить ИСПД [ЖМ]
		#LOC_ChemicalPropulsion_ISRU_LqdMethane_LqdOxygen_ConverterName = ЖМ+ЖК
		#LOC_ChemicalPropulsion_ISRU_LqdMethane_LqdOxygen_StartActionName = Запустить ИСПД [ЖМ+ЖК]
		#LOC_ChemicalPropulsion_ISRU_LqdMethane_LqdOxygen_StopActionName = Остановить ИСПД [ЖМ+ЖК]
		#LOC_ChemicalPropulsion_ISRU_LqdHydrogen_ConverterName = ЖВ
		#LOC_ChemicalPropulsion_ISRU_LqdHydrogen_StartActionName = Запустить ИСПД [ЖВ]
		#LOC_ChemicalPropulsion_ISRU_LqdHydrogen_StopActionName = Остановить ИСПД [ЖВ]
		#LOC_ChemicalPropulsion_ISRU_LqdHydrogen_LqdOxygen_ConverterName = ЖВ+ЖК
		#LOC_ChemicalPropulsion_ISRU_LqdHydrogen_LqdOxygen_StartActionName = Запустить ИСПД [ЖВ+ЖК]
		#LOC_ChemicalPropulsion_ISRU_LqdHydrogen_LqdOxygen_StopActionName = Остановить ИСПД [ЖВ+ЖК]
		#LOC_ChemicalPropulsion_FuelCell_LqdHydrogen_LqdOxygen_ConverterName = Топливный элемент [ЖВ+О2]
		#LOC_ChemicalPropulsion_FuelCell_LqdHydrogen_LqdOxygen_StartActionName = Запустить топливный элемент [ЖВ+О2]
		#LOC_ChemicalPropulsion_FuelCell_LqdHydrogen_LqdOxygen_StopActionName = Остановить топливный элемент [ЖВ+О2]
		#LOC_ChemicalPropulsion_FuelCell_LqdHydrogen_LqdOxygen_ToggleActionName = Переключить топливный элемент [ЖВ+О2]
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_ConverterName = Топливный элемент [N2H4]
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_StartActionName = Запустить топливный элемент [N2H4]
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_StopActionName = Остановить топливный элемент [N2H4]
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_ToggleActionName = Переключить топливный элемент [N2H4]
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_NTO_ConverterName = Топливный элемент [N2H4+N2O4]
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_NTO_StartActionName = Запустить топливный элемент [N2H4+N2O4]
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_NTO_StopActionName = Остановить топливный элемент [N2H4+N2O4]
		#LOC_ChemicalPropulsion_FuelCell_Hydrazine_NTO_ToggleActionName = Переключить топливный элемент [N2H4+N2O4]
		#LOC_ChemicalPropulsion_FuelCell_Kerosene_IntakeAir_ConverterName = Топливный элемент [Керосин]
		#LOC_ChemicalPropulsion_FuelCell_Kerosene_IntakeAir_StartActionName = Запустить топливный элемент [Керосин]
		#LOC_ChemicalPropulsion_FuelCell_Kerosene_IntakeAir_StopActionName = Остановить топливный элемент [Керосин]
		#LOC_ChemicalPropulsion_FuelCell_Kerosene_IntakeAir_ToggleActionName = Переключить топливный элемент [Керосин]

		// VABOrganizer categories
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_tank_ignitor = Жидкости зажигателя
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_tank_bipropellant = Двухкомпонентное топливо
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_tank_storable = Стабильное топливо
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_tank_cryogenic = Криогенное топливо
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_tank_aviation = Авиационное топливо
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_tank_monopropellant = Однокомпонентное топливо
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Ethanol_LqdOxygen = Двигатели на эталоксе
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_LqdAmmonia_LqdOxygen = Двигатели на аммиак-кислороде
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Kerosene_IWFNA = Двигатели на керосин-азотной кислоте
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Kerosene_HTP = Двигатели на основе ВТП
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Hydrazine_NTO = Двигатели на самовоспл. смеси
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Kerosene_LqdOxygen = Двигатели на керолоксе
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_LqdMethane_LqdOxygen = Двигатели на металоксе
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_LqdHydrogen_LqdOxygen = Двигатели на гидролоксе
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Kerosene_LqdHydrogen_LqdOxygen = Двигатели на керогидролоксе
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Kerosene_NTO = Двигатели на керосин-амиле
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_Hydrazine_LqdOxygen = Двигатели на гидразин-кислороде
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_engine_bipropellant = Др. двухкомпонентные двигатели
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_rcs_monopropellant = Однокомпонентные РСУ
		#LOC_ChemicalPropulsion_VABOrganizer_Subcategory_rcs_bipropellant = Двухкомпонентные РСУ

		// Kerbalism compatibility
		#LOC_ChemicalPropulsion_Kerbalism_low_HTP = Баки ВТП почти пусты на $VESSEL
		#LOC_ChemicalPropulsion_Kerbalism_empty_HTP = В баках $VESSEL больше нет ВТП
		#LOC_ChemicalPropulsion_Kerbalism_refill_HTP = Баки ВТП $VESSEL пополнены
		#LOC_ChemicalPropulsion_Kerbalism_low_Hydrazine = Баки гидразина почти пусты на $VESSEL
		#LOC_ChemicalPropulsion_Kerbalism_empty_Hydrazine = В баках $VESSEL больше нет гидразина
		#LOC_ChemicalPropulsion_Kerbalism_refill_Hydrazine = Баки гидразина $VESSEL пополнены
		#LOC_ChemicalPropulsion_Kerbalism_low_Methane = Баки метана почти пусты на $VESSEL
		#LOC_ChemicalPropulsion_Kerbalism_empty_Methane = В баках $VESSEL больше нет метана
		#LOC_ChemicalPropulsion_Kerbalism_refill_Methane = Баки метана $VESSEL пополнены
		#LOC_ChemicalPropulsion_Kerbalism_Methane_title = Метан
		#LOC_ChemicalPropulsion_Kerbalism_Process_HydrazineOxygenFuelCell = Топливный элемент на гидразине
		#LOC_ChemicalPropulsion_Kerbalism_HydrazineOxygenFuelCell_title = Топливный элемент на гидразин-кислороде
		#LOC_ChemicalPropulsion_Kerbalism_HydrazineOxygenFuelCell_desc = Аварийный топливный элемент, сжигающий <b>Гидразин</b> и газообразный <b>Кислород</b>, производящий <b>Воду</b> и газообразный <b>Азот</b> как побочные продукты
		#LOC_ChemicalPropulsion_Kerbalism_Sabatier_desc = <b>Водород</b> и <b>ДиоксидУглерода</b> реагируют с никелевым катализатором, производя <b>Воду</b> и <b>Метан</b>.
		#LOC_ChemicalPropulsion_Kerbalism_Anthraquinone_desc = Синтез <b>ВТП</b> с использованием редокс-процесса из <b>Кислорода</b> и <b>Водорода</b>.
		#LOC_ChemicalPropulsion_Kerbalism_HydrazineProduction_desc = <b>ВТП</b> и <b>Аммиак</b> реагируют с образованием <b>Гидразина</b>, <b>Кислорода</b> и <b>Воды</b>.
		#LOC_ChemicalPropulsion_Kerbalism_NitroHydrazine_desc = <b>ВТП</b> и <b>Аммиак</b> с инжекцией <b>Азота</b> реагируют с образованием <b>Гидразина</b> и <b>Кислорода</b>.
		#LOC_ChemicalPropulsion_Kerbalism_PressurizedTank_Methane_desc = Хранение сжатого газа <b>Метана</b> @ 250 бар.
		#LOC_ChemicalPropulsion_Kerbalism_MethanePump_title = Насос метана
		#LOC_ChemicalPropulsion_Kerbalism_MethanePump_desc = Извлечение <b>Метана</b> из океана.
		#LOC_ChemicalPropulsion_Kerbalism_MethaneFilter_title = Фильтр метана
		#LOC_ChemicalPropulsion_Kerbalism_MethaneFilter_desc = Извлечение <b>Метана</b> из атмосферы.

		// Miscellaneous
		#LOC_ChemicalPropulsion_misc_appearance_desc = Вид
	}
}